body {
    background-color: #fff;
    font-family: Helvetica;
    margin: 0;
  }
  
  a {
    font-size: 70px;
    text-decoration: none;
    background-color: white;
  }
  
  
  
  .container {
    position: relative;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: #2E3138;
  }
  
  .circle {
    position: absolute;
    width: 40vh;
    height: 40vh;
    top: 50%;
    left: 50%;
    border-radius: 200px;
    background-color: #f544fe;
    transform: translate(-50%, -50%);
    filter: blur(0);
    
  } 
  
  .pill {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 90%;
    left: 50%;
    background-color: #97c4f5;
    border-radius: 200px;
    transform: translate(-50%, -50%);
  }
  
  
  a:hover {
    color: green; 
    text-decoration: underline; 
    text-shadow: 2px 2px 8px #FF0000;
    
  }
  
  
  a:visited {
    color: black; 
  /*   letter-spacing: 100px;  */
  /*   text-decoration: line-through; */
  }
  
  a:active {
    color: yellow; 
    
  }
  
  .circle:hover {
    filter: blur(40px);
    
  }
  
  .pill:hover {
    filter: opacity(50%);
    
  }