
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    background-color: #01290e; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    text-align: center;
  }
  

  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  

  h2 {
    position: absolute;
    z-index: 10;
    font-size: 2rem;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0 20px;
    width: 100%;
    top: 20%;
    text-align: center;
    padding-top: 2cm;
    padding-left: 16cm;
    padding-right: 16cm;
  }
  

  .content {
    position: absolute;
    z-index: 10;
    color: white;
    text-align: center;
    padding: 20px;
    max-width: 20%;
    margin-top: 100px;

  }
  

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
    z-index: 1;
  }
  
  
  @media (max-width: 768px) {
    h2 {
      font-size: 1.5rem; 
    }
  
    .content {
      font-size: 1rem;
      margin-top: 80px;
    }
  }
  